@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, sans-serif;
}

.rtl {
  direction: rtl;
  text-align: right;
}

.chart-container {
  position: relative;
  height: 200px;
  width: 100%;
}
